body {
    background-color: #c5e7c6;
    margin: 0;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
    margin: 20px;
}

.imgcontainer {
    text-align: left;
    padding: auto auto;
    border: 2px solid #4CAF50;
    background-color: darkolivegreen;
}

header {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: darkolivegreen;
    height: 200px;
}


button, select, input {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
  
}


button:hover{
    background-color: #3e8e41; /* color de fondo del botón al pasar el cursor sobre él */
  }